[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "hugo_quickstart/themes/ananke"]
	path = hugo_quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
